In [1]:
import numpy as np

#Problem 1
#Convert a 1D array to a 2D array with 2 rows
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [2]:
new_arr = arr.reshape(2,5)
print(new_arr)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [3]:
# ravel() operation is used to convert mltidimentional into one dimention

In [4]:
#Problem 2

#Extract all odd numbers from arr
arr1 = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print(arr1)

[0 1 2 3 4 5 6 7 8 9]

In [5]:
arr1 = arr1[arr1%2!=0]
print(arr1)

[1 3 5 7 9]

In [6]:
#Problem 3

#Replace all odd numbers in arr with -1

arr2 = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print(arr2)

[0 1 2 3 4 5 6 7 8 9]

In [7]:
arr3 = arr2[arr2%2==1]
arr2[arr3] = -1
print(arr2)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [8]:
#Problem 4

#Replace all odd numbers in arr with -1 without changing arr

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
array1 = arr
array1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
array2 = array1[array1%2 == 1]
array1[array2] = -1
print(array2)
print(array1)

[1 3 5 7 9]
[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [11]:
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [12]:
#Problem 5

#Stack arrays a and b vertically

a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

In [13]:
print(a)
print(b)

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[1 1 1 1 1]
 [1 1 1 1 1]]

In [14]:
np.vstack((a,b))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [67]:
# Problem 7

# Create the following pattern without hardcoding. Use only numpy functions and the below 
#input array a.

a = np.array([1,2,3])
a

array([1, 2, 3])

In [68]:
a1 = np.repeat(a,3)
a1

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [69]:
np.r_[np.repeat(a , 3), np.tile(a,3)]

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [70]:
# Problem  8

# From array a remove all items present in array b

a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

# Desired Output:
# array([1,2,3,4])

In [20]:
result = np.setdiff1d(a , b)
result

array([1, 2, 3, 4])

In [74]:
# Problem  9

# Get the positions where elements of a and b match

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

# Desired Output:
# (array([1, 3, 5, 7]),)

In [75]:
np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

In [76]:
np.intersect1d(a,b)

array([2, 4])

In [82]:
# Problem  10

# Swap columns 1 and 2 in the array arr.

arr = np.arange(9).reshape(3,3)

# Output:
# array([[1, 0, 2],
#       [4, 3, 5],
#       [7, 6, 8]])

In [79]:
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [80]:
arr[:,[1,0]] = arr[:,[0,1]]
arr

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [83]:
arr[:,[1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [26]:
# Problem  11

# From the array a, replace all values greater than 30 to 30 and less than 10 to 10.

# Input:
np.random.seed(100)
a = np.random.uniform(1,50, 20)

In [27]:
a

array([27.62684215, 14.64009987, 21.80136195, 42.39403048,  1.23122395,
        6.95688692, 33.86670515, 41.466785  ,  7.69862289, 29.17957314,
       44.67477576, 11.25090398, 10.08108276,  6.31046763, 11.76517714,
       48.95256545, 40.77247431,  9.42510962, 40.99501269, 14.42961361])

In [28]:
a[a > 30] = 30
a[a < 10] = 10

In [29]:
print(a)

[27.62684215 14.64009987 21.80136195 30.         10.         10.
 30.         30.         10.         29.17957314 30.         11.25090398
 10.08108276 10.         11.76517714 30.         30.         10.
 30.         14.42961361]

In [97]:
# Problem  12

# Compute the counts of unique values row-wise.

# Input:
np.random.seed(100)
arr = np.random.randint(1,11,size=(6, 10))
arr
# Desired Output:
# > [[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
# >  [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
# >  [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
# >  [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
# >  [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
# >  [1, 1, 1, 1, 1, 2, 0, 0, 2, 1]]

array([[ 9,  9,  4,  8,  8,  1,  5,  3,  6,  3],
       [ 3,  3,  2,  1,  9,  5,  1, 10,  7,  3],
       [ 5,  2,  6,  4,  5,  5,  4,  8,  2,  2],
       [ 8,  8,  1,  3, 10, 10,  4,  3,  6,  9],
       [ 2,  1,  8,  7,  3,  1,  9,  3,  6,  2],
       [ 9,  2,  6,  5,  3,  9,  4,  6,  1, 10]])

In [98]:
len(np.unique(arr , axis=0))

6

In [100]:
def counts_of_all_values_rowwise(arr2d):
    num_counts_array = [np.unique(row , return_counts= True) for row in arr2d]
    return([[int(b[a == i]) if i in a else 0 for i in np.unique(arr2d)] for a, b in num_counts_array])
print(np.arange(1,11))
counts_of_all_values_rowwise(a)

[ 1  2  3  4  5  6  7  8  9 10]

[[1, 0, 0, 0, 0, 0],
 [0, 1, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0],
 [0, 1, 0, 0, 0, 0],
 [0, 0, 1, 0, 0, 0],
 [0, 0, 0, 1, 0, 0],
 [0, 0, 1, 0, 0, 0],
 [0, 0, 0, 1, 0, 0],
 [0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 1]]

In [101]:
# Problem 13

# Compute the one-hot encodings (dummy binary variables for each unique value in the array)
np.random.seed(101) 
arr = np.random.randint(1,4, size=6)
arr

array([2, 3, 2, 2, 2, 1])

In [102]:
# encoded_array = np.zeros((b.size, b.max()+1), dtype = int)
def one_hot_encodings(arr):
    uniqs = np.unique(arr)
    out = np.zeros((arr.shape[0], uniqs.shape[0]))
    for i , k in enumerate(arr):
        out[i , k-1] = 1
    return out
one_hot_encodings(arr)

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [60]:
# Problem 14

# Create the ranks for the given numeric array a.

np.random.seed(10)
a = np.random.randint(20, size=10)
print(a)
#> [ 9  4 15  0 17 16 17  8  9  0]

# Desired output:
# [4 2 6 0 8 7 9 3 5 1]

[ 9  4 15  0 17 16 17  8  9  0]

In [63]:
sorting_a = a.argsort()
ranks_of_a = np.empty_like(sorting_a)
ranks_of_a[sorting_a] = np.arange(len(a))
print(ranks_of_a)

[4 2 6 0 8 7 9 3 5 1]

In [64]:
# Problem 15

# Create a rank array of the same shape as a given numeric array a.

np.random.seed(10)
a = np.random.randint(20, size=[2,5])
print(a)
#> [[ 9  4 15  0 17]
#>  [16 17  8  9  0]]
# Desired output:

#> [[4 2 6 0 8]
#>  [7 9 3 5 1]]

[[ 9  4 15  0 17]
 [16 17  8  9  0]]

In [65]:
# a.ravel().argsort().argsort().reshape(a.shape)
a.ravel().argsort().argsort().reshape(a.shape)

array([[4, 2, 6, 0, 8],
       [7, 9, 3, 5, 1]], dtype=int64)

In [1]:
# Problem  16

# Compute the min-by-max for each row for given 2d numpy array

# Input:
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
a
#> array([[9, 9, 4],
#>        [8, 8, 1],
#>        [5, 3, 6],
#>        [3, 3, 3],
#>        [2, 1, 9]])


# Desired Output:
# array([ 0.44444444,  0.125     ,  0.5       ,  1.        ,  0.11111111])

array([[9, 9, 4],
       [8, 8, 1],
       [5, 3, 6],
       [3, 3, 3],
       [2, 1, 9]])

In [3]:
np.apply_along_axis(lambda x: np.min(x)/np.max(x), arr = a, axis = 1)

array([0.44444444, 0.125     , 0.5       , 1.        , 0.11111111])

In [106]:
# Problem 17

# Find the duplicate entries (2nd occurrence onwards) in the given numpy array and mark them as True.
# First time occurrences should be False

# Input

np.random.seed(100)
a = np.random.randint(0, 5, 10)
print('Array: ', a)
#> Array: [0 0 3 0 2 4 2 2 2 2]
# Desired Output:

#> [False  True False  True False False  True  True  True  True]

Array:  [0 0 3 0 2 4 2 2 2 2]

In [107]:
out = np.full(a.shape[0],True)
unique_positions = np.unique(a , return_index= True)[1]

In [112]:
out[unique_positions] = False
print(out)

[False  True False  True False False  True  True  True  True]

In [9]:
# Problem 18

# Drop all nan values from a 1D numpy array

np.array([1,2,3,np.nan,5,6,7,np.nan])
# Desired Output:

# array([ 1.,  2.,  3.,  5.,  6.,  7.])

array([ 1.,  2.,  3., nan,  5.,  6.,  7., nan])

In [5]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan])
a[~np.isnan(a)]

array([1., 2., 3., 5., 6., 7.])

In [10]:
a[np.isfinite(a)]

array([1., 2., 3., 5., 6., 7.])

In [12]:
# Problem 19

# Find all the peaks in a 1D numpy array a. Peaks are points surrounded by smaller values
# on both sides.

a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
a
# Desired Output:

#> array([2, 5])

array([1, 3, 7, 1, 2, 6, 0, 1])

In [14]:
doublediff = np.diff(np.sign(np.diff(a)))
peak_locations = np.where(doublediff == -2)[0] + 1
peak_locations

array([2, 5], dtype=int64)

In [32]:
# Problem 20

# Subtract the 1d array b_1d from the 2d array a_2d, such that each item of b_1d subtracts from
# respective row of a_2d.

a= np.array([[3,3,3],[4,4,4],[5,5,5]])
b = np.array([1,2,3])
print(a - b[:,None])

[[2 2 2]
 [2 2 2]
 [2 2 2]]

In [43]:
# Problem 21

# Find the index of 5th repetition of number 1 in x.

x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])

In [62]:
n = 5
np.where(x == 1)[0][n-1]

8

In [64]:
# Problem 22

# Create a numpy array of length 10, starting from 5 and has a step of 3 between consecutive numbers
length = 10
start = 5
step = 3

def seq(start, length, step):
    end = start+(step*length)
    return np.arange(start, end, step)
seq(start, length, step)

array([ 5,  8, 11, 14, 17, 20, 23, 26, 29, 32])

In [65]:
# Problem 23

# From the given 1d array arr, generate a 2d matrix using strides, with a window length of 4 and 
# strides of 2, like [[0,1,2,3], [2,3,4,5], [4,5,6,7]..]

arr = np.arange(15) 
arr
#> array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])
# Desired Output:

#> [[ 0  1  2  3]
#>  [ 2  3  4  5]
#>  [ 4  5  6  7]
#>  [ 6  7  8  9]
#>  [ 8  9 10 11]
#>  [10 11 12 13]]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [67]:
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, n_strides*stride_len, stride_len)])

print(gen_strides(np.arange(15), stride_len=2, window_len=4))

[[ 0  1  2  3]
 [ 2  3  4  5]
 [ 4  5  6  7]
 [ 6  7  8  9]
 [ 8  9 10 11]
 [10 11 12 13]]